<%# Only show the trigger button if we explicitly ask for it %>
<% if local_assigns[:show_button] %>
  <button type="button" class="btn btn-outline-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModal-<%= article.id %>">
    Delete
  </button>
<% end %>

<div class="modal fade" id="deleteModal-<%= article.id %>" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">Confirm</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-start">
        Are you sure you want to delete "<%= article.title %>"?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-dismiss="modal">Cancel</button>
        <%= button_to "Delete", article, method: :delete, class: "btn btn-outline-danger btn-sm" %>
      </div>
    </div>
  </div>
</div>